<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock title %}</title> 

    <!-- Bootstrap core CSS -->
    <link href={% static 'vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href= {% static '/css/fontawesome.css' %}>
    <link rel="stylesheet" href= {% static '/css/templatemo-stand-blog.css' %}>
    <link rel="stylesheet" href= {% static '/css/owl.css' %}>

  </head>

<body>

    {% block content %}
    
    {% endblock content %}

</body>

<!-- Bootstrap core JavaScript -->
<script src= {% static 'vendor/jquery/jquery.min.js' %}></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Additional Scripts -->
<script src={% static '/js/custom.js' %}></script>
<script src={% static '/js/owl.js' %}></script>
<script src={% static '/js/slick.js' %}></script>
<script src={% static '/js/isotope.js' %}></script>
<script src={% static '/js/accordions.js' %}></script>

<script language = "text/Javascript"> 
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value='';         // with more chance of typos
        t.style.color='#fff';
        }
    }

</script>
</html>